Button {
    color: white;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 0.75rem;
    border-radius: 15px;
}

Button:hover {
    background-color: var(--color-contrast-dark);
    border: 1px solid var(--color-contrast-dark);
}

Button:disabled {
    background-color: transparent;
    color: var(--color-primary);
}

Button:disabled:hover {
    border: 1px solid var(--color-primary);
}