.filter-bar {
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    padding: 0.5rem 2.5rem;
    width: 100%;
}

.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-bar-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter-bar-header button {
    align-self: center;
    padding: 0.5rem;
}

.price-veg-filter {
    display: flex;
    flex-direction: column;
}

.price-veg-filter label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.category-filter {
    width: 175px;
    margin-right: 0;
}

.checkboxes {
    display: flex;
    flex-flow: row wrap;
    gap: 0 1rem;
}

.checkboxes label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}