.page-title-wrapper {
    text-align: center;
    margin-top: 0.5rem;
}

.page-subtitle {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.page-subtitle::after {
    content: "";
    position: absolute;
    left: -0.5em;
    right: -0.5em;
    bottom: -0.1em;
    height: 1px;
    background-color: var(--color-primary);
}