.dashboard-buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

/*.dashboard-buttons button {*/
/*    background-color: var(--color-secondary);*/
/*    border: 1px solid var(--color-secondary);*/
/*}*/