.main-navigation-container {
    display: flex;
    color: var(--color-primary);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-primary);
}

.main-navigation-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.2rem;
}

.default-nav-link {
    text-decoration: none;
    color: var(--color-primary);
}

.active-nav-link {
    text-decoration: underline;
    color: var(--color-primary);
}
