.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 500px;
    font-size: 1.5rem;
}

.login-form > button {
    width: 25%
}