.page-container {
    color: var(--color-primary);
    background-color: var(--color-main-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    overflow: auto;
    gap: 2rem;
}
