@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:wght@400;700&display=swap');

:root {
    --color-main-bg: #F7E9CE;
    --color-secondary-bg: #FFFFF;
    --color-primary: #bc6c25;
    --color-secondary: #dda15e;
    --color-contrast-dark: #283618;
    --color-contrast-light: #606c38;
    --color-dim-grey: #696969
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

main {
    height: 100vh;
    width: 100vw;
}

button {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
}

h1, h2, h3 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

strong {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    font-family: "Lato", sans-serif;
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-contrast-dark);
}

img {
    width: 100%;
}
