.menu-page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.menu-divider {
    border: 0.5px solid var(--color-primary);
    width: 700px;
    margin-bottom: 3rem;
}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    gap: 2rem;
}